services:
    wordpress:
        build:
            context: .
            dockerfile: docker/wordpress-fpm/Dockerfile
        restart: always
        image: tranthethang/calm-canvas-wordpress-php8.3-fpm:latest
        env_file:
            - .env.prod
        environment:
            WORDPRESS_CONFIG_EXTRA: |
                define( 'DISABLE_WP_CRON', true );
                define( 'WP_REDIS_HOST', 'redis' );
                define( 'WP_REDIS_PASSWORD', '${REDIS_PASSWORD}' );
                define( 'WP_REDIS_TIMEOUT', 1 );
                define( 'WP_REDIS_READ_TIMEOUT', 1 );
                define( 'WP_REDIS_DATABASE', 0 );
                define('FS_METHOD', 'direct');
                if (isset($$_SERVER['HTTP_X_FORWARDED_PROTO']) && $$_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
                    $$_SERVER['HTTPS'] = 'on';
                }
                if (isset($$_SERVER['HTTP_X_FORWARDED_HOST'])) {
                    $$_SERVER['HTTP_HOST'] = $$_SERVER['HTTP_X_FORWARDED_HOST'];
                }
                $$http_host = isset($$_SERVER['HTTP_HOST']) ? $$_SERVER['HTTP_HOST'] : 'localhost';
                define( 'WP_HOME', (isset($$_SERVER['HTTPS']) ? 'https://' : 'http://') . $$http_host );
                define( 'WP_SITEURL', (isset($$_SERVER['HTTPS']) ? 'https://' : 'http://') . $$http_host );
        volumes:
            - wordpress_data:/var/www/html
            - ./docker/snapshot:/tmp/snapshot
            - ./origamiez:/var/www/html/wp-content/themes/origamiez
        networks:
            - dev_tools

    cli:
        build:
            context: .
            dockerfile: docker/cli/Dockerfile
        restart: always
        user: www-data
        image: tranthethang/calm-canvas-wordpress-php8.3-cli:latest
        command: tail -f /dev/null
        env_file:
            - .env.prod
        environment:
            WORDPRESS_CONFIG_EXTRA: |
                define( 'DISABLE_WP_CRON', true );
                define( 'WP_REDIS_HOST', 'redis' );
                define( 'WP_REDIS_PASSWORD', '${REDIS_PASSWORD}' );
                define( 'WP_REDIS_TIMEOUT', 1 );
                define( 'WP_REDIS_READ_TIMEOUT', 1 );
                define( 'WP_REDIS_DATABASE', 0 );
                define('FS_METHOD', 'direct');
                if (isset($$_SERVER['HTTP_X_FORWARDED_PROTO']) && $$_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
                    $$_SERVER['HTTPS'] = 'on';
                }
                if (isset($$_SERVER['HTTP_X_FORWARDED_HOST'])) {
                    $$_SERVER['HTTP_HOST'] = $$_SERVER['HTTP_X_FORWARDED_HOST'];
                }
                $$http_host = isset($$_SERVER['HTTP_HOST']) ? $$_SERVER['HTTP_HOST'] : 'localhost';
                define( 'WP_HOME', (isset($$_SERVER['HTTPS']) ? 'https://' : 'http://') . $$http_host );
                define( 'WP_SITEURL', (isset($$_SERVER['HTTPS']) ? 'https://' : 'http://') . $$http_host );
        volumes:
            - wordpress_data:/var/www/html
            - ./docker/snapshot:/tmp/snapshot
            - ./origamiez:/var/www/html/wp-content/themes/origamiez
        labels:
            ofelia.enabled: 'true'
            ofelia.job-exec.wp-cron-task.schedule: '@every 1m'
            ofelia.job-exec.wp-cron-task.command: 'wp cron event run --due-now'
            ofelia.job-exec.wp-cron-task.user: 'www-data'
        depends_on:
            - wordpress
        networks:
            - dev_tools

    scheduler:
        image: mcuadros/ofelia:latest
        restart: unless-stopped
        depends_on:
            - cli
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        command: daemon --docker

    nginx:
        image: nginx:stable-alpine
        ports:
            - '${WP_PORT}:80'
            - '${WP_PORT_SSL}:443'
        volumes:
            - wordpress_data:/var/www/html:ro
            - ./origamiez:/var/www/html/wp-content/themes/origamiez:ro
            - ./docker/nginx/prod.conf:/etc/nginx/conf.d/default.conf:ro
            - ./docker/nginx/certs:/etc/nginx/certs:ro
            - nginx_cache:/var/cache/nginx
        depends_on:
            - wordpress
        networks:
            - dev_tools

networks:
    dev_tools:
        external: true

volumes:
    wordpress_data:
    nginx_cache:
