services:
  wordpress:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    image: wp-dev_tools:php8.4-fpm
    ports:
      - "${WP_PORT}:80"    
    restart: "no"
    environment:
      WORDPRESS_DB_HOST: '${WORDPRESS_DB_HOST:-mysql8:3306}'
      WORDPRESS_DB_USER: '${WORDPRESS_DB_USER:-root}'
      WORDPRESS_DB_PASSWORD: '${WORDPRESS_DB_PASSWORD:-secret}'
      WORDPRESS_DB_NAME: '${WORDPRESS_DB_NAME:-origamiez}'
      WORDPRESS_DEBUG: '${WORDPRESS_DEBUG:-1}'
      WORDPRESS_DB_CHARSET: '${WORDPRESS_DB_CHARSET:-utf8mb4}'
      WORDPRESS_DB_COLLATE: '${WORDPRESS_DB_COLLATE:-}'
      WORDPRESS_TABLE_PREFIX: '${WORDPRESS_TABLE_PREFIX:-wp_}'

    volumes:
      - ./docker/snapshot:/tmp/snapshot
      - ./nginx.conf:/etc/nginx/conf.d/default.conf      
      - ./origamiez:/var/www/html/wp-content/themes/origamiez
      - type: bind
        source: ./docker/config/php.ini
        target: /usr/local/etc/php/php.ini

    networks:
      - dev_tools

networks:
  dev_tools:
    external: true
