:root {
  --font-body: "Roboto Serif", serif;
  --font-body-size: 14px;
  --font-body-line-height: 1.5em;
  --font-body-weight: 400;
  --font-body-style: normal;
  --font-menu: "Neuton", serif;
  --font-menu-size: 15px;
  --font-menu-line-height: 3em;
  --font-menu-weight: 400;
  --font-menu-style: normal;
  --font-widget-title: "Neuton", serif;
  --font-widget-title-size: 12px;
  --font-widget-title-line-height: 49px;
  --font-widget-title-weight: 600;
  --font-widget-title-style: normal;
  --font-heading-h1: "Neuton", serif;
  --font-heading-h1-size: 26px;
  --font-heading-h1-line-height: 1.5em;
  --font-heading-h1-weight: 700;
  --font-heading-h1-style: normal;
  --font-heading-h2: "Neuton", serif;
  --font-heading-h2-size: 23px;
  --font-heading-h2-line-height: 1.5em;
  --font-heading-h2-weight: 700;
  --font-heading-h2-style: normal;
  --font-heading-h3: "Neuton", serif;
  --font-heading-h3-size: 20px;
  --font-heading-h3-line-height: 1.5em;
  --font-heading-h3-weight: 400;
  --font-heading-h3-style: normal;
  --font-heading-h4: "Neuton", serif;
  --font-heading-h4-size: 18px;
  --font-heading-h4-line-height: 1.5em;
  --font-heading-h4-weight: 400;
  --font-heading-h4-style: normal;
  --font-heading-h5: "Neuton", serif;
  --font-heading-h5-size: 16px;
  --font-heading-h5-line-height: 1.5em;
  --font-heading-h5-weight: 400;
  --font-heading-h5-style: normal;
  --font-heading-h6: "Neuton", serif;
  --font-heading-h6-size: 12px;
  --font-heading-h6-line-height: 1.5em;
  --font-heading-h6-weight: 400;
  --font-heading-h6-style: normal;
  --font-heading-letter-spacing: 1px;
  --font-block-quote: "Neuton", serif;
  --font-block-quote-line-height: 25px;
  --font-block-quote-size: 14px;
  --body-color: #444;
  --heading-color: #222;
  --link-color: #222;
  --link-hover-color: #E74C3C;
  --primary-color: #E74C3C;
  --secondary-color: #F9F9F9;
  --main-menu-color: #fff;
  --main-menu-bg-color: #333;
  --line-1-bg-color: #555555;
  --line-2-bg-color: #DDDDDD;
  --line-3-bg-color: #E5E5E5;
  --footer-sidebars-bg-color: #293535;
  --footer-sidebars-text-color: #999999;
  --footer-sidebars-widget-heading-color: #FFFFFF;
  --footer-end-bg-color: #1e2a2a;
  --footer-end-text-color: #999999;
  --white: #FFFFFF;
  --black: #000000;
  --black_light: #DFDFDF;
  --overlay_white: rgba(255, 255, 255, 0.5);
  --overlay_black: rgba(0, 0, 0, 0.5);
  --facebook-color: #3B5998;
  --twitter-color: #00A0D1;
  --google-plus-color: #C63D2D;
  --pinterest-color: #910101;
  --rss-color: #FA9B39;
  --metadata-color: #777777;
  --youtube-color: #cc181e;
  --linkedin-color: #007bb6;
  --tumblr-color: #32506d;
  --digg-color: #1b5891;
  --reddit-color: #ff1a00;
  --stumbleupon-color: #EB4823;
  --vk-color: #45668e;
  --print-color: #62665e;
  --envelope-color: #FA9B39;
  --color-success: #4caf50;
}

:root {
  --font-body: "Roboto Serif", serif;
  --font-body-size: 14px;
  --font-body-line-height: 1.5em;
  --font-body-weight: 400;
  --font-body-style: normal;
  --font-menu: "Neuton", serif;
  --font-menu-size: 15px;
  --font-menu-line-height: 3em;
  --font-menu-weight: 400;
  --font-menu-style: normal;
  --font-widget-title: "Neuton", serif;
  --font-widget-title-size: 12px;
  --font-widget-title-line-height: 49px;
  --font-widget-title-weight: 600;
  --font-widget-title-style: normal;
  --font-heading-h1: "Neuton", serif;
  --font-heading-h1-size: 26px;
  --font-heading-h1-line-height: 1.5em;
  --font-heading-h1-weight: 700;
  --font-heading-h1-style: normal;
  --font-heading-h2: "Neuton", serif;
  --font-heading-h2-size: 23px;
  --font-heading-h2-line-height: 1.5em;
  --font-heading-h2-weight: 700;
  --font-heading-h2-style: normal;
  --font-heading-h3: "Neuton", serif;
  --font-heading-h3-size: 20px;
  --font-heading-h3-line-height: 1.5em;
  --font-heading-h3-weight: 400;
  --font-heading-h3-style: normal;
  --font-heading-h4: "Neuton", serif;
  --font-heading-h4-size: 18px;
  --font-heading-h4-line-height: 1.5em;
  --font-heading-h4-weight: 400;
  --font-heading-h4-style: normal;
  --font-heading-h5: "Neuton", serif;
  --font-heading-h5-size: 16px;
  --font-heading-h5-line-height: 1.5em;
  --font-heading-h5-weight: 400;
  --font-heading-h5-style: normal;
  --font-heading-h6: "Neuton", serif;
  --font-heading-h6-size: 12px;
  --font-heading-h6-line-height: 1.5em;
  --font-heading-h6-weight: 400;
  --font-heading-h6-style: normal;
  --font-heading-letter-spacing: 1px;
  --font-block-quote: "Neuton", serif;
  --font-block-quote-line-height: 25px;
  --font-block-quote-size: 14px;
  --body-color: #444;
  --heading-color: #222;
  --link-color: #222;
  --link-hover-color: #E74C3C;
  --primary-color: #E74C3C;
  --secondary-color: #F9F9F9;
  --main-menu-color: #fff;
  --main-menu-bg-color: #333;
  --line-1-bg-color: #555555;
  --line-2-bg-color: #DDDDDD;
  --line-3-bg-color: #E5E5E5;
  --footer-sidebars-bg-color: #293535;
  --footer-sidebars-text-color: #999999;
  --footer-sidebars-widget-heading-color: #FFFFFF;
  --footer-end-bg-color: #1e2a2a;
  --footer-end-text-color: #999999;
  --white: #FFFFFF;
  --black: #000000;
  --black_light: #DFDFDF;
  --overlay_white: rgba(255, 255, 255, 0.5);
  --overlay_black: rgba(0, 0, 0, 0.5);
  --facebook-color: #3B5998;
  --twitter-color: #00A0D1;
  --google-plus-color: #C63D2D;
  --pinterest-color: #910101;
  --rss-color: #FA9B39;
  --metadata-color: #777777;
  --youtube-color: #cc181e;
  --linkedin-color: #007bb6;
  --tumblr-color: #32506d;
  --digg-color: #1b5891;
  --reddit-color: #ff1a00;
  --stumbleupon-color: #EB4823;
  --vk-color: #45668e;
  --print-color: #62665e;
  --envelope-color: #FA9B39;
  --color-success: #4caf50;
}

body {
  font-weight: var(--font-body-weight);
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  line-height: var(--font-body-line-height);
  font-style: var(--font-body-style);
}

h1 {
  font-weight: var(--font-heading-h1-weight);
  font-family: var(--font-heading-h1);
  font-size: var(--font-heading-h1-size);
  line-height: var(--font-heading-h1-line-height);
  font-style: var(--font-heading-h1-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

h2 {
  font-weight: var(--font-heading-h2-weight);
  font-family: var(--font-heading-h2);
  font-size: var(--font-heading-h2-size);
  line-height: var(--font-heading-h2-line-height);
  font-style: var(--font-heading-h2-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

h3 {
  font-weight: var(--font-heading-h3-weight);
  font-family: var(--font-heading-h3);
  font-size: var(--font-heading-h3-size);
  line-height: var(--font-heading-h3-line-height);
  font-style: var(--font-heading-h3-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

h4 {
  font-weight: var(--font-heading-h4-weight);
  font-family: var(--font-heading-h4);
  font-size: var(--font-heading-h4-size);
  line-height: var(--font-heading-h4-line-height);
  font-style: var(--font-heading-h4-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

h5 {
  font-weight: var(--font-heading-h5-weight);
  font-family: var(--font-heading-h5);
  font-size: var(--font-heading-h5-size);
  line-height: var(--font-heading-h5-line-height);
  font-style: var(--font-heading-h5-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

h6 {
  font-weight: var(--font-heading-h6-weight);
  font-family: var(--font-heading-h6);
  font-size: var(--font-heading-h6-size);
  line-height: var(--font-heading-h6-line-height);
  font-style: var(--font-heading-h6-style);
  letter-spacing: var(--font-heading-letter-spacing);
}

#site-home-link {
  text-decoration: none;
  color: var(--heading-color);
}
#site-home-link #site-title {
  font-family: var(--font-heading-h1), serif;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
#site-home-link #site-desc {
  font-family: var(--font-body);
}

#main-menu a {
  font-family: var(--font-menu);
  font-style: var(--font-menu-style);
}
#main-menu a span.fa {
  font-size: 20px;
}
#main-menu > li > a {
  font-size: var(--font-menu-size);
  font-weight: var(--font-menu-weight);
  line-height: var(--font-menu-line-height);
}
#main-menu > li.menu-item-has-children > a:after {
  font-family: "FontAwesome" !important;
  content: "\f0d7";
  font-weight: 400;
}
#main-menu li ul li.menu-item-has-children > a:after {
  font-family: "FontAwesome" !important;
  content: "\f0da";
  line-height: 40px;
}

h2.widget-title {
  font-family: var(--font-widget-title);
  font-size: var(--font-widget-title-size);
  line-height: var(--font-widget-title-line-height);
  font-weight: var(--font-widget-title-weight);
  font-style: var(--font-widget-title-style);
  text-transform: uppercase;
}

/*
 * --------------------------------------------------
 * ELEMENTS
 * --------------------------------------------------
 */
.panel-default .panel-heading .panel-title a {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
.origamiez-mobile-icon {
  text-transform: uppercase;
}

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#origamiez-headline-ticker .origamiez-headline-caption {
  line-height: 35px;
  text-transform: uppercase;
}
#origamiez-headline-ticker #origamiez-ticker a time {
  font-style: italic;
  font-size: 12px;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post a {
  text-decoration: none;
}
.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post h5 {
  margin: 0 0 15px 0;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.origamiez-widget-newsletter p.newsletter-form input[type=email] {
  line-height: 20px;
}
/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.origamiez-widget-posts-small-thumbnail .origamiez-widget-content h5 a {
  line-height: 18px;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS TWO COLS (1.1.4)
 * --------------------------------------------------
 */
.origamiez-widget-posts-two-cols a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS SLIDER (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-slider .origamiez-widget-content a {
  text-decoration: none;
}
.origamiez-widget-posts-slider .origamiez-widget-content .caption h2 a, .origamiez-widget-posts-slider .origamiez-widget-content .caption h5 a {
  text-transform: uppercase;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS WITH BACKGROUND (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-with-background .origamiez-widget-content a {
  text-decoration: none;
}
.origamiez-widget-posts-with-background .origamiez-widget-content .origamiez-wp-post .origamiez-wp-post-index {
  font-size: 130%;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.7)
 * --------------------------------------------------
 */
.origamiez-widget-posts-zebra a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.7)
 * --------------------------------------------------
 */
.origamiez-widget-posts-grid a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_rss ul li:before {
  content: "\f143";
}

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata .metadata-divider,
div.comment-metadata a {
  font-size: 12px;
  font-style: italic;
}

p.metadata .metadata-post-format {
  font-size: 10px;
}
p.metadata .metadata-author,
p.metadata .metadata-categories,
p.metadata .metadata-comment,
p.metadata .metadata-date,
p.metadata .metadata-views,
p.metadata .metadata-divider {
  font-size: 12px;
  font-style: italic;
}

p.metadata-readmore a {
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

div.origamiez-article-metadata p {
  text-align: right;
  font-size: 13px;
  font-style: italic;
}
body.origamiez-layout-blog.origamiez-layout-blog-metadata-right p {
  text-align: left;
}
/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  font-size: 14px;
}

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.origamiez-layout-blog article .metadata {
  line-height: 15px;
}

body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore {
  text-align: center;
  text-transform: uppercase;
}
body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-single #origamiez-post-category a,
body.origamiez-layout-single #origamiez-post-tag a {
  text-decoration: none;
}
body.origamiez-layout-single #origamiez-post-adjacent p.direction {
  text-transform: uppercase;
}
body.origamiez-layout-single #origamiez-post-adjacent a {
  text-decoration: none;
}
body.origamiez-layout-single #origamiez-post-adjacent .origamiez-post-adjacent-prev {
  text-align: left;
}
body.origamiez-layout-single #origamiez-post-adjacent .origamiez-post-adjacent-next {
  text-align: right;
}
body.origamiez-layout-single #origamiez-post-author .origamiez-author-name {
  text-transform: uppercase;
}
body.origamiez-layout-single #origamiez-post-author .origamiez-author-name a {
  text-decoration: none;
}
body.origamiez-layout-single #origamiez-post-author .origamiez-author-socials a {
  line-height: 35px;
  text-align: center;
}
body.origamiez-layout-single #origamiez-post-related .origamiez-widget-content figure.post figcaption a {
  text-decoration: none;
}

/*
 * --------------------------------------------------
 * ERROR 404
 * --------------------------------------------------
 */
#origamiez-post-wrap.error-404 .col-left {
  text-align: right;
  font-size: 120px;
  line-height: 120px;
}

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */
#comments .comment .comment-meta .comment-author .fn a {
  text-transform: uppercase;
}

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
#origamiez_singular_pagination {
  font-style: italic;
}

/*
 * --------------------------------------------------
 * FIX :: 2014.09.11
 * --------------------------------------------------
 */
label {
  font-weight: normal;
}

.origamiez-contact-information .origamiez-contact-block .fa {
  font-size: 16px;
  line-height: 16px;
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.01
 * --------------------------------------------------
 */
body.origamiez-layout-single #origamiez-post-wrap .entry-content .wp-caption .wp-caption-text, body.origamiez-layout-single #origamiez-post-wrap .entry-content .wp-caption.aligncenter {
  text-align: center;
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.07 (1.1.9)
 * --------------------------------------------------
 */
p.origamiez-readmore-block {
  text-align: right;
}

p.origamiez-readmore-block > a,
#origamiez-footer-copyright > a {
  text-decoration: none;
}

.entry-content table {
  border-collapse: collapse;
  text-align: left;
}
.entry-content table tfoot,
.entry-content table thead {
  letter-spacing: 0.5px;
}
.entry-content q,
.entry-content blockquote {
  font-style: italic;
  letter-spacing: 0.25px;
  font-family: var(--font-block-quote);
  font-size: var(--font-block-quote-size);
  line-height: var(--font-block-quote-line-height);
}
.entry-content dl dt {
  letter-spacing: 0.5px;
}
.entry-content cite,
.entry-content address {
  font-style: italic;
  letter-spacing: 0.5px;
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.22 (1.2.2)
 * --------------------------------------------------
 */
#origamiez_singular_pagination {
  text-align: right;
}
#origamiez_singular_pagination a {
  line-height: 25px;
}
