:root {
  --font-body: 'Roboto Serif', serif;
  --font-body-size: 14px;
  --font-body-line-height: 1.5em;
  --font-body-weight: 400;
  --font-body-style: normal;

  --font-menu: 'Neuton', serif;
  --font-menu-size: 15px;
  --font-menu-line-height: 3em;
  --font-menu-weight: 400;
  --font-menu-style: normal;

  --font-widget-title: 'Neuton', serif;
  --font-widget-title-size: 12px;
  --font-widget-title-line-height: 49px;
  --font-widget-title-weight: 600;
  --font-widget-title-style: normal;

  --font-heading-h1: 'Neuton', serif;
  --font-heading-h1-size: 26px;
  --font-heading-h1-line-height: 1.5em;
  --font-heading-h1-weight: 700;
  --font-heading-h1-style: normal;

  --font-heading-h2: 'Neuton', serif;
  --font-heading-h2-size: 23px;
  --font-heading-h2-line-height: 1.5em;
  --font-heading-h2-weight: 700;
  --font-heading-h2-style: normal;

  --font-heading-h3: 'Neuton', serif;
  --font-heading-h3-size: 20px;
  --font-heading-h3-line-height: 1.5em;
  --font-heading-h3-weight: 400;
  --font-heading-h3-style: normal;

  --font-heading-h4: 'Neuton', serif;
  --font-heading-h4-size: 18px;
  --font-heading-h4-line-height: 1.5em;
  --font-heading-h4-weight: 400;
  --font-heading-h4-style: normal;

  --font-heading-h5: 'Neuton', serif;
  --font-heading-h5-size: 16px;
  --font-heading-h5-line-height: 1.5em;
  --font-heading-h5-weight: 400;
  --font-heading-h5-style: normal;

  --font-heading-h6: 'Neuton', serif;
  --font-heading-h6-size: 12px;
  --font-heading-h6-line-height: 1.5em;
  --font-heading-h6-weight: 400;
  --font-heading-h6-style: normal;

  --font-heading-letter-spacing: 1px;

  --font-block-quote: 'Neuton', serif;
  --font-block-quote-line-height: 25px;
  --font-block-quote-size: 14px;
}