$font-body: 'Roboto Serif', serif;
$font-body-size: 14px;
$font-body-line-height: 1.5em;
$font-body-weight: 400;
$font-body-style: normal;

$font-menu: 'Neuton', serif;
$font-menu-size: 15px;
$font-menu-line-height: 3em;
$font-menu-weight: 400;
$font-menu-style: normal;

$font-widget-title: 'Neuton', serif;
$font-widget-title-size: 12px;
$font-widget-title-line-height: 49px;
$font-widget-title-weight: 600;
$font-widget-title-style: normal;

$font-heading-h1: 'Neuton', serif;
$font-heading-h1-size: 26px;
$font-heading-h1-line-height: 1.5em;
$font-heading-h1-weight: 700;
$font-heading-h1-style: normal;

$font-heading-h2: 'Neuton', serif;
$font-heading-h2-size: 23px;
$font-heading-h2-line-height: 1.5em;
$font-heading-h2-weight: 700;
$font-heading-h2-style: normal;

$font-heading-h3: 'Neuton', serif;
$font-heading-h3-size: 20px;
$font-heading-h3-line-height: 1.5em;
$font-heading-h3-weight: 400;
$font-heading-h3-style: normal;

$font-heading-h4: 'Neuton', serif;
$font-heading-h4-size: 18px;
$font-heading-h4-line-height: 1.5em;
$font-heading-h4-weight: 400;
$font-heading-h4-style: normal;

$font-heading-h5: 'Neuton', serif;
$font-heading-h5-size: 16px;
$font-heading-h5-line-height: 1.5em;
$font-heading-h5-weight: 400;
$font-heading-h5-style: normal;

$font-heading-h6: 'Neuton', serif;
$font-heading-h6-size: 12px;
$font-heading-h6-line-height: 1.5em;
$font-heading-h6-weight: 400;
$font-heading-h6-style: normal;

$font-heading-letter-spacing: 1px;

$font-block-quote: 'Neuton', serif;
$font-block-quote-line-height: 25px;
$font-block-quote-size: 14px;

$body-color: var(--body-color);
$heading-color: var(--heading-color);
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$main-menu-color: var(--main-menu-color);
$main-menu-bg-color: var(--main-menu-bg-color);
$line-1-bg-color: var(--line-1-bg-color);
$line-2-bg-color: var(--line-2-bg-color);
$line-3-bg-color: var(--line-3-bg-color);
$footer-sidebars-bg-color: var(--footer-sidebars-bg-color);
$footer-sidebars-text-color: var(--footer-sidebars-text-color);
$footer-sidebars-widget-heading-color: var(--footer-sidebars-widget-heading-color);
$footer-end-bg-color: var(--footer-end-bg-color);
$footer-end-text-color: var(--footer-end-text-color);
$white: var(--white);
$black: var(--black);
$black_light: var(--black_light);
$overlay_white: var(--overlay_white);
$overlay_black: var(--overlay_black);
$facebook-color: var(--facebook-color);
$twitter-color: var(--twitter-color);
$google-plus-color: var(--google-plus-color);
$pinterest-color: var(--pinterest-color);
$rss-color: var(--rss-color);
$metadata-color: var(--metadata-color);
$youtube-color: var(--youtube-color);
$linkedin-color: var(--linkedin-color);
$tumblr-color: var(--tumblr-color);
$digg-color: var(--digg-color);
$reddit-color: var(--reddit-color);
$stumbleupon-color: var(--stumbleupon-color);
$vk-color: var(--vk-color);
$print-color: var(--print-color);
$envelope-color: var(--envelope-color);
$color-success: var(--color-success);
