/*
 * --------------------------------------------------
 * SKELETON
 * --------------------------------------------------
 */

body {
  color: var(--body-color);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);

  a {
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

#origamiez-header {
  background: var(--white);
  border-bottom: none;
  padding-bottom: 20px;
}

#origamiez-header-bottom {
  border-bottom: 2px solid var(--main-menu-bg-color);
}

#origamiez-header-bar-inner {
  border-bottom: 1px solid var(--line-2-bg-color);
}

#main-nav {
  background: var(--white);
  border-bottom: 3px double var(--heading-color);

  &.stuckMenu.isStuck {
    background-color: var(--white);

    .main-menu {
      border-bottom: 1px solid var(--line-2-bg-color);
    }
  }
}

#main-menu {
  a {
    color: var(--main-menu-color);
    transition: all 0.3s ease;
  }

  & > li {
    &.current-menu-item > a {
      color: var(--main-menu-active-color);
    }

    &:hover {
      & > a {
        color: var(--main-menu-hover-color);
      }
    }
  }

  li {
    ul {
      border-top: 3px solid var(--primary-color);
      border-left: 1px solid var(--line-2-bg-color);
      border-right: 1px solid var(--line-2-bg-color);
      border-bottom: 1px solid var(--line-2-bg-color);
      background: var(--white);

      li {
        border-bottom: 1px solid var(--line-2-bg-color);

        a {
          color: var(--body-color);
        }

        &:hover {
          & > a {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

#origamiez-body-inner {
  background: var(--white);
}

.origamiez-col-right {
  border-left: 1px solid var(--line-2-bg-color);
}

#origamiez-footer-sidebars {
  border-top: none;
  background-color: var(--footer-sidebars-bg-color);
}

#origamiez-footer-end {
  background-color: var(--footer-end-bg-color);
  color: var(--footer-end-text-color);
}

#bottom-menu {
  li {
    a {
      color: var(--footer-end-text-color);
      border-left: 1px solid var(--footer-end-text-color);

      &:hover {
        color: var(--primary-color);
      }
    }

    &:first-child {
      a {
        border-left: none;
      }
    }
  }
}

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#origamiez-headline-ticker {
  .origamiez-headline-caption {
    background-color: var(--white);
    color: var(--primary-color);

    & > span {
      border-right: 1px solid var(--line-2-bg-color);
    }
  }

  #origamiez-ticker {
    a {
      time {
        color: var(--primary-color);
      }
    }
  }
}


/*
 * --------------------------------------------------
 * SIDEBAR RIGHT
 * --------------------------------------------------
 */

/*
 * --------------------------------------------------
 * SIDEBAR CENTER
 * --------------------------------------------------
 */

#sidebar-center {
  border-right: 1px solid var(--line-2-bg-color);
  background-color:var(--white);

  .widget {
    margin-top: -1px;
    border-top: 1px solid var(--line-2-bg-color);

    &:first-child {
      margin-top: 0;
      border-top: none;
    }
  }
}

/*
 * --------------------------------------------------
 * SIDEBAR LEFT
 * --------------------------------------------------
 */

/*
 * --------------------------------------------------
 * SIDEBAR MAIN TOP
 * --------------------------------------------------
 */

/*
 * --------------------------------------------------
 * SIDEBAR BOTTOM
 * --------------------------------------------------
 */

#sidebar-bottom, #sidebar-main-bottom {
  border-top: 1px solid var(--heading-color);

  .widget {
    .widget-title-text {
      border-bottom: none;
    }
  }
}


#origamiez-footer-sidebars {
  h2.widget-title {
    color: var(--footer-sidebars-widget-heading-color);
  }

  .origamiez-widget-content {
    color: var(--footer-sidebars-text-color);

    a {
      color: var(--footer-sidebars-text-color);
    }
  }

  .widget_calendar {
    caption {
      border-bottom-color: var(--line-1-bg-color);
    }
  }

  .widget_tag_cloud {
    .origamiez-widget-content {
      a {
        color:var(--white);
        background-color: var(--line-1-bg-color);
      }
    }
  }
}


/*
 * --------------------------------------------------
 * SEARCH FORM
 * --------------------------------------------------
 */
form.search-form {
  .search-text {
    border: 1px solid var(--line-2-bg-color);
  }

  .search-submit {
    background-color:var(--white);
    color: var(--black_light);
  }
}

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
body.without_bg_slides {
  background:var(--white);

  #sb-site,
  .sb-site-container {
    background:var(--white);
  }
}

.origamiez-mobile-icon {
  background-color: var(--primary-color);
  color:var(--white);
}

.sb-slidebar {
  background-color: var(--footer-sidebars-bg-color);
}

#mobile-menu {
  a {
    color: var(--footer-sidebars-text-color);
  }

  li {
    border-top: 1px solid var(--line-1-bg-color);
  }

  & > li:first-child {
    border-top: none;
  }
}


/*
 * --------------------------------------------------
 * MOBILE SEARCH
 * --------------------------------------------------
 */
.sb-slidebar.sb-right {
  color: var(--footer-sidebars-text-color);

  a {
    color: var(--footer-sidebars-text-color);
  }

  .widget-title {
    border-color: var(--line-1-bg-color);
    color: var(--primary-color);
  }

  form.search-form {
    .search-text {
      border-color: var(--line-1-bg-color);
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET
 * --------------------------------------------------
 */

h2.widget-title {
  border-bottom: 1px solid var(--line-2-bg-color);
}

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_archive,
.widget_categories {
  select {
    border: 1px solid var(--line-2-bg-color);
  }
}

.widget_rss {
  ul {
    li {
      &:before {
        color: var(--rss-color);
      }
    }
  }
}


/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.origamiez-widget-posts-minimalist {
  .origamiez-widget-content {
    .origamiez-wp-m-post {
      border-top: 1px dashed var(--line-1-bg-color);

      &.origamiez-wp-m-post-first {
        border-top: none;
      }

      h5 {
        a {
          color: var(--footer-sidebars-text-color);
        }
      }
    }
  }
}


/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.origamiez-widget-tweets {
  .origamiez-widget-content {
    .origamiez-wp-m-tweet {
      &:hover {
        .fa-twitter {
          color: var(--twitter-color);
        }
      }

      border-top: 1px solid var(--line-1-bg-color);

      &.origamiez-wp-m-tweet-first {
        border-top: none;
      }

      p.origamiez-wp-m-tweet-content {
        a {
          color: var(--primary-color);
        }
      }
    }
  }
}

#origamiez-body {
  .origamiez-widget-tweets {
    .origamiez-widget-content {
      .origamiez-wp-m-tweet {
        border-top-color: var(--line-2-bg-color);
      }

      .fa-twitter {
        color: var(--twitter-color);
      }
    }
  }

}

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.origamiez-widget-newsletter {
  p.newsletter-form {
    input[type=text] {
      border: 1px solid var(--line-2-bg-color);
    }

    button[type=submit] {
      border: 1px solid var(--line-2-bg-color);
    }

    &:hover {
      button[type=submit] {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color:var(--white);
      }
    }
  }
}

#origamiez-footer {
  .origamiez-widget-newsletter {
    p.newsletter-form {
      input[type=text] {
        background: var(--footer-sidebars-bg-color);
        border: 1px solid var(--line-1-bg-color);
      }

      button[type=submit] {
        border: 1px solid var(--line-1-bg-color);
        background: var(--line-1-bg-color);
        color: var(--secondary-color);
      }

      &:hover {
        input[type=text] {
          border: 1px solid var(--primary-color);
          color:var(--white);
        }

        button[type=submit] {
          border: 1px solid var(--primary-color);
          background: var(--primary-color);
          color:var(--white);
        }
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.origamiez-widget-posts-small-thumbnail {
  .origamiez-widget-content {
    .origamiez-wp-mt-post {
      border-top: 1px solid var(--line-2-bg-color);

      &.origamiez-wp-mt-post-first {
        border-top: none;
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS GRID
 * --------------------------------------------------
 */
.origamiez-widget-posts-grid {
  .origamiez-widget-content {
    .row {
      &.row-first {
        .origamiez-wp-grid-post {
          border-top: none;
        }
      }

      .origamiez-wp-grid-post {
        border-top: 1px solid var(--line-2-bg-color);
        border-left: 1px solid var(--line-2-bg-color);
        border-right: 1px solid var(--line-2-bg-color);
        margin-left: -1px;

        &.origamiez-wp-grid-post-first {
          border-left: none;
        }

        &.origamiez-wp-grid-post-last {
          border-right: none;
        }
      }
    }
  }
}


/*
 * --------------------------------------------------
 * WIDGET TAGS (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_tag_cloud {
  .tagcloud {
    a {
      background-color: var(--secondary-color);

      &:hover {
        background-color: var(--primary-color);
        color:var(--white);
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET CALENDAR (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_calendar {
  caption {
    border-bottom: 1px solid var(--line-2-bg-color);
  }

  tr {
    line-height: 20px;
    height: 20px;
  }
}

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */
a.social-link {
  color: var(--line-1-bg-color);
  border: 1px solid var(--line-1-bg-color);

  &.social-link-behance {
    color: var(--behance-color);
    border: 1px solid var(--behance-color);
  }

  &.social-link-bitbucket {
    color: var(--bitbucket-color);
    border: 1px solid var(--bitbucket-color);
  }

  &.social-link-codepen {
    color: var(--codepen-color);
    border: 1px solid var(--codepen-color);
  }

  &.social-link-delicious {
    color: var(--delicious-color);
    border: 1px solid var(--delicious-color);
  }

  &.social-link-deviantart {
    color: var(--deviantart-color);
    border: 1px solid var(--deviantart-color);
  }

  &.social-link-digg {
    color: var(--digg-color);
    border: 1px solid var(--digg-color);
  }

  &.social-link-dribbble {
    color: var(--dribbble-color);
    border: 1px solid var(--dribbble-color);
  }

  &.social-link-dropbox {
    color: var(--dropbox-color);
    border: 1px solid var(--dropbox-color);
  }

  &.social-link-facebook {
    color: var(--facebook-color);
    border: 1px solid var(--facebook-color);
  }

  &.social-link-flickr {
    color: var(--flickr-color);
    border: 1px solid var(--flickr-color);
  }

  &.social-link-foursquare {
    color: var(--foursquare-color);
    border: 1px solid var(--foursquare-color);
  }

  &.social-link-git {
    color: var(--git-color);
    border: 1px solid var(--git-color);
  }

  &.social-link-github {
    color: var(--github-color);
    border: 1px solid var(--github-color);
  }

  &.social-link-google-plus {
    color: var(--google-plus-color);
    border: 1px solid var(--google-plus-color);
  }

  &.social-link-instagram {
    color: var(--instagram-color);
    border: 1px solid var(--instagram-color);
  }

  &.social-link-jsfiddle {
    color: var(--jsfiddle-color);
    border: 1px solid var(--jsfiddle-color);
  }

  &.social-link-linkedin {
    color: var(--linkedin-color);
    border: 1px solid var(--linkedin-color);
  }

  &.social-link-pinterest {
    color: var(--pinterest-color);
    border: 1px solid var(--pinterest-color);
  }

  &.social-link-reddit {
    color: var(--reddit-color);
    border: 1px solid var(--reddit-color);
  }

  &.social-link-rss {
    color: var(--rss-color);
    border: 1px solid var(--rss-color);
  }

  &.social-link-soundcloud {
    color: var(--soundcloud-color);
    border: 1px solid var(--soundcloud-color);
  }

  &.social-link-spotify {
    color: var(--spotify-color);
    border: 1px solid var(--spotify-color);
  }

  &.social-link-stack-exchange {
    color: var(--stack-exchange-color);
    border: 1px solid var(--stack-exchange-color);
  }

  &.social-link-stack-overflow {
    color: var(--stack-overflow-color);
    border: 1px solid var(--stack-overflow-color);
  }

  &.social-link-stumbleupon {
    color: var(--stumbleupon-color);
    border: 1px solid var(--stumbleupon-color);
  }

  &.social-link-tumblr {
    color: var(--tumblr-color);
    border: 1px solid var(--tumblr-color);
  }

  &.social-link-twitter {
    color: var(--twitter-color);
    border: 1px solid var(--twitter-color);
  }

  &.social-link-vimeo {
    color: var(--vimeo-color);
    border: 1px solid var(--vimeo-color);
  }

  &.social-link-youtube {
    color: var(--youtube-color);
    border: 1px solid var(--youtube-color);
  }

  &.social-link-vk {
    color: var(--vk-color);
    border: 1px solid var(--vk-color);
  }

  &.social-link-print {
    color: var(--print-color);
    border: 1px solid var(--print-color);
  }

  &.social-link-envelope {
    color: var(--envelope-color);
    border: 1px solid var(--envelope-color);
  }
}


/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */

/*
 * --------------------------------------------------
 * OWL CUSTOM PAGINATION
 * --------------------------------------------------
 */
.widget-title {
  .owl-custom-pagination {
    border: 1px solid var(--line-2-bg-color);
    color: var(--line-2-bg-color);

    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
}

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */

.metadata-circle-icon {
  .fa {
    color: var(--primary-color);
  }
}

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata {
  .metadata-divider,
  time,
  .comment-reply-link,
  a {
    color: var(--body-color);
  }
}

p.metadata {
  .metadata-post-format {
    background: var(--primary-color);
    color:var(--white);
  }

  i,
  .metadata-author a,
  .metadata-categories a,
  .metadata-comment,
  .metadata-date,
  .metadata-views,
  .metadata-divider {
    color: var(--metadata-color);
  }

  .metadata-categories a:hover {
    color: var(--primary-color);
  }
}

p.metadata-readmore {
  a {
    color: var(--primary-color);
  }
}

div.origamiez-article-metadata {
  p {
    &.metadata-divider-horizonal {
      border-bottom: 1px dashed var(--line-2-bg-color);
      color: var(--primary-color);
    }
  }
}

.origamiez-transition-all {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid var(--line-2-bg-color);

  a {
    text-decoration: none;

    &.current-page {
      color: var(--primary-color);
    }
  }
}

/*
 * --------------------------------------------------
 * BLOG PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-blog {
  #origamiez-blogposts {
    list-style-type: none;

    & > li {
      border-top: 1px solid var(--line-2-bg-color);

      &.origamiez-first-post {
        border-top: none;
      }

      article {
        .entry-thumb {
          a {
            .overlay {
              background: var(--overlay_black);
            }

            .overlay-link {
              border: 2px solid var(--white);
            }

            .fa {
              color:var(--white);
            }
          }
        }
      }
    }
  }
}

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.origamiez-layout-blog.origamiez-layout-blog-masonry {
  #origamiez-blogposts {
    border-bottom: 1px solid var(--line-2-bg-color);

    .item {
      border-bottom: none;
      border-right: none;
      border-left: 1px solid var(--line-2-bg-color);
      border-top: 1px solid var(--line-2-bg-color);
    }
  }

  #origamiez-blogposts-loadmore {
    a {
      color:var(--white);
    }

    background-color: var(--primary-color);
  }
}

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
ul.page-numbers {
  border-top: 1px solid var(--line-2-bg-color);

  li {
    a, span {
      border-radius: 5px;
      border: 1px solid var(--line-2-bg-color);
      text-decoration: none;
      @include transition(0.5s);
    }

    span.dots {
      border-color: transparent;
    }

    a:hover, span.current {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

#origamiez_singular_pagination {
  a {
    color: var(--primary-color);
  }
}

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-single {
  #origamiez-post-wrap {
    div.entry-tag {
      border-top: 1px solid var(--line-2-bg-color);
    }
  }

  #origamiez-post-category,
  #origamiez-post-tag {
    border-top: 1px solid var(--line-2-bg-color);

    span,
    a {
      background-color: var(--secondary-color);

      &:hover {
        background-color: var(--primary-color);
        color:var(--white);
      }
    }

    span {
      color: var(--primary-color);
    }
  }

  #origamiez-post-category {
    border-top: none;
  }

  #origamiez-post-adjacent {
    border-top: 1px solid var(--line-2-bg-color);

    div.origamiez-post-adjacent-prev {
      border-right: 1px solid var(--line-2-bg-color);
    }

    div.origamiez-post-adjacent-next {
      border-left: 1px solid var(--line-2-bg-color);
    }
  }

  #origamiez-post-author {
    border-top: 1px solid var(--line-2-bg-color);
  }

  #origamiez-post-author {
    .origamiez-author-name {
      a {
        color: var(--primary-color);
      }
    }

    .origamiez-author-socials {
      a {
        border: 1px solid var(--line-2-bg-color);
      }
    }
  }

  #origamiez-post-related {
    .origamiez-widget-content {
      figure.post {
        figcaption {
          a {
            color:var(--white);
            background-color: var(--overlay_black);
          }
        }
      }
    }
  }
}


/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */

#comments {
  border-top: none !important;

  & > .widget-title.comments-title {
    border-top: 1px dashed var(--line-2-bg-color);
  }

  #comment-nav-below {
    border-top: 1px dashed var(--line-2-bg-color);
  }

  .comment-list {
    & > li:first-child {
      border-top: none;
    }
  }

  .pingback,
  .comment {
    border-top: 1px solid var(--line-2-bg-color);

    .comment-meta {
      .comment-author {
        .fn {
          a {
            color: var(--primary-color);
          }
        }
      }
    }
  }


  #respond {
    border-top: 1px solid var(--heading-color);

    .comment-form-info {
      input {
        border: 1px solid var(--line-2-bg-color);
      }
    }

    .comment-form-comment {
      textarea {
        border: 1px solid var(--line-2-bg-color);
      }
    }

    .form-submit {
      input {
        color:var(--white);
        border: none;
        background-color: var(--primary-color);
      }
    }
  }
}

/*
 * --------------------------------------------------
 * DIVIDER
 * --------------------------------------------------
 */
.separator {
  border-bottom-width: 1px;
  border-bottom-color: var(--line-2-bg-color);
}

.separator-solid {
  border-bottom-style: solid;
}

.separator-dotted {
  border-bottom-style: dotted;
}

.separator-double {
  border-bottom-style: double;
  border-bottom-width: 3px;
  height: 3px;
}

.separator-dashed {
  border-bottom-style: dashed;
}

/*
 * --------------------------------------------------
 * PLUGIN (CONTACT FORM 7)
 * --------------------------------------------------
 */
.wpcf7-form {
  .wpcf7-form-control-wrap {
    & > input[type=text],
    & > input[type=email],
    & > input[type=number],
    & > input[type=phone],
    & > textarea {
      border: 1px solid var(--line-2-bg-color);
    }
  }

  .wpcf7-form-control.wpcf7-submit {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color:var(--white);
    @extend .origamiez-transition-all;

    &:hover {
      color: var(--primary-color);
      background-color:var(--white);
    }
  }
}

/*
 * --------------------------------------------------
 * BOXER
 * --------------------------------------------------
 */
body.origamiez-boxer {
  #origamiez-header-search-box {
    form#search-form {
      .search-submit {
        border-right: none !important;
      }
    }
  }
}

/*
 * --------------------------------------------------
 * REVIEW (RATING) SYSTEM
 * --------------------------------------------------
 */
#origamiez-admin-rating {
  border: 1px solid var(--line-2-bg-color);

  .origamiez-admin-rating-summary {
    border-bottom: 1px solid var(--line-2-bg-color);
  }

  .origamiez-rating-total {
    background-color: var(--primary-color);

    span {
      color:var(--white);
    }
  }

  .origamiez-admin-rating-per-featured {
    .col-left {
      font-size: 16px;
    }

    .col-right {
      .circle {
        border: 3px solid var(--primary-color);
        background:var(--white);
        color: var(--primary-color);
      }

      .line-front {
        background-color: var(--primary-color);
      }

      .line-back {
        background-color: var(--line-2-bg-color);
      }
    }
  }
}

.origamiez-rating-total-inside-widget {
  background: var(--primary-color);
  color:var(--white);
}


/*
 * --------------------------------------------------
 * CONTACT INFORMATION
 * --------------------------------------------------
 */
.origamiez-contact-information {
  .origamiez-contact-block {
    .fa {
      color: var(--primary-color);
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS TWO COLS (1.1.4)
 * --------------------------------------------------
 */

.origamiez-widget-posts-two-cols {
  .article-col-right {
    article {
      &.origamiez-post-1 {
        border-top: none !important;
      }

      border-top: 1px solid var(--line-2-bg-color);
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET MEDIA (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-with-format-icon {
  .origamiez-widget-content {
    .origamiez-w-m-post {
      border-top: 1px solid var(--line-2-bg-color);
    }

    .metadata-circle-icon {
      border: 1px solid var(--white);

      .fa {
        color:var(--white);
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-zebra {
  .origamiez-widget-content {
    .origamiez-wp-zebra-post {
      border-bottom: 1px solid var(--line-3-bg-color);

      &:last-child {
        border-bottom: none;
      }

      &.even {
        background-color: var(--secondary-color);
      }

      &.odd {
        background-color:var(--white);
      }

      .metadata {
        margin-top: 10px;
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS WITH BACKGROUND (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-with-background {

  .origamiez-widget-content {

    .origamiez-wp-post {
      background-color: var(--secondary-color);

      .origamiez-wp-post-index {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS SLIDER (1.1.6)
 * --------------------------------------------------
 */

.origamiez-widget-posts-slider {
  .origamiez-widget-content {
    .item {
      .caption {
        background-color:var(--white);
      }
    }

    .col-right {
      .owl-pagination {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}


/*
 * --------------------------------------------------
 * RESPONSIVE (COLOR)
 * --------------------------------------------------
 */
@media only screen and (min-width: 1280px) {

}

@media only screen and (max-width: 1179px) {
}

@media only screen and (max-width: 1023px) {
  #sidebar-right {
    border-top: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (max-width: 979px) {
}

@media only screen and (max-width: 899px) {
}

@media only screen and (max-width: 799px) {
}

@media only screen and (max-width: 767px) {
  #origamiez-post-adjacent {
    .origamiez-post-adjacent-next {
      border-top: 1px dashed var(--line-2-bg-color);
    }
  }

  .origamiez-widget-posts-playlist {
    .row-first {
      .origamiez-wp-other-post-even {
        .entry-title {
          border-top: 1px solid var(--line-1-bg-color) !important;
        }
      }
    }
  }

  .origamiez-widget-posts-two-cols {
    .article-col-right {
      border-top: 1px solid var(--line-2-bg-color);
    }
  }
}


@media only screen and (max-width: 767px) {
  body.origamiez-page-magazine {
    #main-center-outer,
    #main-center-inner {
      & > .origamiez-left {
        border-right: none !important;
      }
    }
  }
}


@media only screen and (max-width: 599px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1179px) {
  .origamiez-col-right {
    border-right: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .origamiez-col-right {
    border-right: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (min-width: 900px) and (max-width: 979px) {
  .origamiez-col-right {
    border-right: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
  .origamiez-col-right {
    border-right: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
  .origamiez-col-right {
    border-right: 1px solid var(--line-2-bg-color);
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {

}

@media only screen and (min-width: 600px) and (max-width: 639px) {
}

@media only screen and (min-width: 480px) and (max-width: 599px) {

}

@media only screen and (max-width: 599px) {
  #main-nav-inner {
    #origamiez-header-search-box {
      border-left: none;
    }
  }
}

@media only screen and (max-width: 479px) {

}


/*
 * --------------------------------------------------
 * UPDATE :: 2015.03.17
 * --------------------------------------------------
 */

#sidebar-bottom .widget {
  border-bottom-color: var(--line-2-bg-color);
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.06.26
 * --------------------------------------------------
 */
body.origamiez-page-magazine {
  #sidebar-main-center-top,
  #sidebar-main-top {
    border-bottom: 1px solid var(--heading-color);
  }

  #main-center-outer,
  #main-center-inner {
    & > .origamiez-left {
      border-right: 1px solid var(--line-2-bg-color);
    }
  }
}

body.origamiez-layout-single.origamiez-show-border-for-images {
  .wp-caption {
    &.aligncenter,
    &.alignleft,
    &.alignright {
      border: 1px solid var(--line-2-bg-color);
      background-color: var(--line-3-bg-color);
    }
  }
}

#origamiez-top-bar {
  border-bottom: 1px solid var(--heading-color);
}

#top-menu {
  a {
    color: var(--heading-color);
    font-family: var(--font-menu);
    font-size: var(--font-menu-size);
    font-weight: var(--font-menu-weight);
    text-transform: none;

    &:hover {
      color: var(--primary-color);
    }
  }
}

#origamiez-blogposts {
  & > li.sticky {
    article {
      background-color: var(--secondary-color);
    }
  }
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.07 (1.1.9)
 * --------------------------------------------------
 */

p.origamiez-readmore-block > a,
#origamiez-footer-copyright > a {
  color: var(--primary-color);

  &:hover {
    @include opacity(0.9);
  }
}

.entry-content {
  a {
    color: var(--primary-color);

    &:hover {
      @include opacity(0.9);
    }
  }

  q,
  blockquote {
    border-left: 3px solid var(--primary-color);
  }
}

#bottom-mobile-menu {
  background-color: transparent;
  border: 3px solid var(--footer-sidebars-bg-color);
}

#top-mobile-menu {
  border: 3px solid var(--line-2-bg-color);
}

#bottom-mobile-menu,
#top-mobile-menu {
  &:hover {
    border-color: var(--primary-color);
  }
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.22 (1.2.2)
 * --------------------------------------------------
 */
#origamiez_singular_pagination {
  a {
    border-right: 3px solid var(--primary-color);
  }
}

body.page-template-template-page-three-cols,
body.origamiez-taxonomy-three-cols,
body.origamiez-single-post-three-cols {
  #sidebar-middle {
    border-right: 1px solid var(--line-2-bg-color);
  }
}


body.page-template-template-page-three-cols-slm,
body.origamiez-taxonomy-three-cols-slm,
body.origamiez-single-post-three-cols-slm {
  #sidebar-center {
    border-left: 1px solid var(--line-2-bg-color);
  }
}